{% extends "photo_blog/base.html" %}

{% block content %}
<div class="content mt-3">
    {{ form.media }}
<center>
  <h4>Post</h4>
</center>

<div>
    <button onclick="getLocation()">Location Open!</button>
  <form class="active" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>

          <!--{{ form.as_p }}-->
          <p><label for="id_photo">Photo:</label> <input type="file" name="photo" accept="image/*" required="" id="id_photo"></p>
          <p><label for="id_caption">Caption:</label> <textarea name="caption" cols="40" rows="10" maxlength="2200" id="id_caption"></textarea></p>
          <p><label for="id_location">Location:</label> <input type = 'text' name="location" id="id_location"> </p>
          <!--<p><label for="id_caption">Geolocation:</label> <textarea name="geolocation" cols="40" rows="10" maxlength="2200" id="id_caption"></textarea></p>-->

          <button type="submit" name="_submit" class="btn">Post</button>

      </fieldset>
  </form>


    <script>

var x = document.getElementById("id_location");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.value = "Geolocation is not supported by this browser.";
    }
}


function showPosition(position) {
    lat = position.coords.latitude;
    lon = position.coords.longitude;
    x.value = `SRID=4326;POINT(${position.coords.latitude} ${position.coords.longitude})`
    <!--x.value = JSON.stringify({-->
        <!--type : "Point",-->
        <!--coordinates : [position.coords.latitude, position.coords.longitude],-->
        <!--crs: {type : "name", properties : { name : "EPSG:4326"}}-->
    <!--});-->
}
</script>
</div>
</div>
{% endblock %}
